
.slideshow_con{
    
    display: flex;
}

.slide img{
  max-width:100%;
  height:  100%;

}

/*.prev,.next{
  max-width: 50px;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}

*/

.prev,.next{


  display: flex;
  position: absolute;
  top: 80%;
  transform: translate(-50%, -50%);
  opacity: 30%;
}

.prev,.next img{
  width: 35px;
  height: 25px;
}



.next{
  left: 98%;
}

.prev{
  left: 2%;
}

